@model PLUS.PackageStore.ViewModels.Apps.DetailsAppViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Confirm delete</h2>


<div>
    <h4>App</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>


    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPackage)
        </dd>
    </dl>*@
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}