@model UXR.Studies.ViewModels.Dashboard.DashboardViewModel

@foreach (var group in Model.Groups)
{
    <div class="col-xs-12"><h3>@Html.DisplayFor(model => group.Name)</h3></div>

    foreach (var node in group.Nodes)
    {
        <div class="col-xs-3">
        @{
            string nodeStatusClass;
            if (node.IsRecording)
            {
                nodeStatusClass = "recordingActiveNodeStatus";
            }
            else
            {
                nodeStatusClass = "activeNodeStatus";
            }
        }
            <div class="nodeStatus @nodeStatusClass">
                <span class="col-md-12 lead">@Html.DisplayFor(model => node.NodeName)</span>
                <span class="col-md-12">Last update:</span>
                <span class="col-md-12">@Html.DisplayFor(model => node.UpdatedAt)</span>
                @if (node.IsRecording)
                {
                    <span class="col-md-12"> Recording </span>
                    if (String.IsNullOrWhiteSpace(node.CurrentSession) == false)
                    {
                        <span class="col-md-12"><strong>@Html.DisplayFor(model => node.CurrentSession)</strong></span>
                    }
                    else
                    {
                        <span class="col-md-12"> &#8203 </span>
                    }
                }
                else
                {
                    <span class="col-md-12"> Not recording </span>
                    <span class="col-md-12"> &#8203 </span>
                }
            </div>
        </div>
    }

}

@if (Model.Groups.Count == 0)
{
    <span>No nodes active.</span>
}