@model List<UXR.ViewModels.ManageUserViewModel>
@using UXR.Controllers;

@{
    ViewBag.Title = "Manage users";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                        </th>
                        @if (User.IsInRole(UXR.Models.UserRoles.SUPERADMIN))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdmin)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsApproved)
                        </th>
                    </tr>

                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => Model[i].UserName)
                            @Html.HiddenFor(model => Model[i].UserName)
                            @Html.HiddenFor(model => Model[i].Id)
                        </td>
                        @if (User.IsInRole(UXR.Models.UserRoles.SUPERADMIN))
                        {
                            <td>
                                @Html.CheckBoxFor(model => Model[i].IsAdmin)
                            </td>
                        }
                        <td>
                            @Html.CheckBoxFor(model => Model[i].IsConfirmed)
                        </td>
                        <td>
                        @if (Model[i].IsApproved == false)
                        {
                            @Html.CheckBoxFor(model => Model[i].IsApproved)
                            @:&nbsp;
                            @Html.ActionLink($"Approve", nameof(UserController.Approve), UserController.ControllerName, new { userId = Model[i].Id }, new { @class = $"btn btn-primary btn-sm" })
                        }
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
