@model IEnumerable<UXR.Studies.ViewModels.SessionTemplates.SessionTemplateViewModel>
@using UXR.Studies.Controllers;
@*@using PagedList.Mvc;*@
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Session templates";
}

<h2>Session templates</h2>

<p>
    @Html.ActionLink("Create new", nameof(ProjectController.Create))
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @* @Html.ActionLink(item.Name, nameof(ProjectController.Details), new { projectId = item.Id })*@
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>

            <td>
                @Html.ActionLink("Delete", nameof(SessionTemplateController.Delete), new { templateId = item.Id })
            </td>
        </tr>
    }

</table>

@*<br />
Page @(((PagedList.IPagedList)Model).PageCount < ((PagedList.IPagedList)Model).PageNumber ? 0 : ((PagedList.IPagedList)Model).PageNumber) of @(((PagedList.IPagedList)Model).PageCount)

@if (Model.Any())
{
    @Html.PagedListPager(((PagedList.IPagedList)Model), page => Url.Action(nameof(ProjectController.Index), new { page = page }));
}*@